[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-formtools = "*"
pillow = "*"
django-crispy-forms = "*"
django-client-side-image-cropping = "*"
django-cleanup = "*"

[dev-packages]

[requires]
python_version = "3.8"
