.nav-details{
    color:rgba(255,255,255,1)
}

.page-header {
    color: white;
    background: #333333;
}

body {
    background: rgb(241, 241, 241);
}

.form-container {
    background: rgb(247, 247, 247);
    border:1px solid rgb(180, 180, 180);
    margin-top:10px;
    padding-top:10px;
    padding-bottom:10px;
}