{% extends 'base.html' %}

{% block content %}

<style>
    fieldset {
        position:relative;
    }

    fieldset:not(:first-of-type){
        display: none;
    }
    .active_form {
        background: #dbdbdb
    }
</style>
<div class="container">
        <div class="row">
            <ul class="col-4" id="feedbackmessage"></ul>
        </div>
    </div>
<form class="student_form" id="student_form" enctype="multipart/form-data" method="POST">{% csrf_token %}
    <div class="d-flex justify-content-around border-bottom mb-2" id="step_btns">
        <button type="button" class="btn btn-default steps active_form" id="f_btn">Student Details</button>
        <button type="button" class="btn btn-default steps" id="s_btn">Family Details</button>
        <button type="button" class="btn btn-default steps" id="l_btn">Transportation Details</button>
    </div>
    <fieldset id="std_details">
        <legend>Student Details</legend>
        <p>
            {{ student_form.name.label}}
            {{ student_form.name}}
        </p>
        <p>
            {{ student_form.surname.label}}
            {{ student_form.surname}}
        </p>
        <p>
            {{ student_form.email.label}}
            {{ student_form.email}}
        </p>
        <p>
            {{ student_form.birth_date.label}}
            {{ student_form.birth_date}}
        </p>
        <br><br>
        <input type="submit" id="submit_student_details" class="next btn btn-default" value="Next"/>
    </fieldset>
    <fieldset id="family_details">
        <legend>Family Details</legend>
        <div>
            <legend>Mom</legend>
            <p>
                {{ disposable_parents_form.name.label}}
                {{ disposable_parents_form.name}}
            </p>
            <p>
                {{ disposable_parents_form.surname.label}}
                {{ disposable_parents_form.surname}}
            </p>
            <p>
                {{ disposable_parents_form.email.label}}
                {{ disposable_parents_form.email}}
            </p>
            <p>
                {{ disposable_parents_form.birth_date.label}}
                {{ disposable_parents_form.birth_date}}
            </p>
        </div>
        <div>
            <legend>Dad</legend>
        </div>
        <br><br>
        <input type="submit" id="submit_parent_details" class="previous btn btn-default" value="Previous"/>
        <input type="submit" id="submit_parent_details" class="next btn btn-default" value="Next"/>
    </fieldset>
    <fieldset id="transport_details">
        <legend>Transportation Details</legend>
            <p>
                {{ disposable_parents_form.name.label}}
                {{ disposable_parents_form.name}}
            </p>
            <p>
                {{ disposable_transportation_form.pickup_date.label}}
                {{ disposable_transportation_form.pickup_date}}
            </p>
        <input type="submit" id="submit_transportation_details" class="previous btn btn-default" value="Previous"/>
        <input type="submit" id="complete_registration" class="next btn btn-default" value="Complete Registration"/>
    </fieldset>
</form>

<script>
    var current_fs, next_fs, previous_fs;
    var current_step, next_step, previous_step;
    
    function titleCase(str) {
        var splitStr = str.toLowerCase().split(' ');
        for (var i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
        }
        return splitStr.join(' '); 
    }   

    $('input[type="submit"]').click(function(e){
        var button_id = '#'+e.target.id;
        e.preventDefault();
        $("#feedbackmessage").empty();
        var formInputs = $(button_id).parent().find('input').serialize();
        console.log(formInputs);
        $.ajax({    
            type:'POST',
            data:formInputs+'&csrfmiddlewaretoken='+$('input[name=csrfmiddlewaretoken]').val()+'&buttonName='+e.target.id,
            success:function(response){
                console.log(response);
                if(response['error']) { 
                    for(var key in response.error){
                        var field_name = key.replace("_"," ");
                        console.log('[error] for ' + key + ': ' + response.error[key][0]);
                        $("#feedbackmessage").append("<li class='alert alert-danger my-1 py-1'>" +
                            titleCase(field_name) + ': ' + response.error[key][0] +"</li>");
                        }
                } else if (response['success']) {
                    console.log('succesfully submitted.');
                    if(e.target.value == 'Next')
                        next_form(button_id);
                    else if(e.target.value == 'Previous')
                        previous_form(button_id);
                }
            },
            error:function (request,status,error){
                console.log(request.responseText);
            }
        });
    });


    $(".steps").click(function(e){ 
        var show_fs;
        clicked_btn = "#"+e.target.id;
        $(".student_form").children().hide();
        switch(clicked_btn){
            case "#f_btn":
                show_fs = "#std_details";
                break;
            case "#s_btn":
                show_fs = "#family_details";
                break;
            case "#l_btn":
                show_fs = "#transport_details";
                break;
            default:
                alert("Case didnt work");
        }
        $(show_fs).show();
        $("#step_btns").children().removeClass("active_form");
        $(clicked_btn).addClass("active_form");
    })

    function next_form(buttonID){
        current_fs = $(buttonID).parent();
        next_fs = $(buttonID).parent().next();
        current_step = $('.active_form');
        next_step = current_step.next();

        current_fs.hide();
        current_step.removeClass('active_form');
        next_fs.show();
        next_step.addClass('active_form');

    }

    function previous_form(buttonID){
        current_fs = $(buttonID).parent();
        previous_fs = $(buttonID).parent().prev();
        current_step = $('.active_form');
        previous_step = current_step.prev();

        current_fs.hide();
        current_step.removeClass('active_form');
        previous_fs.show();
        previous_step.addClass('active_form');
    }
</script>
{% endblock %}