{% extends 'base.html' %}

{% block content %}
<style>
    fieldset {
        position:relative;
    }

    fieldset:not(:first-of-type){
        display: none;
    }
    .active_form {
        background: #dbdbdb
    }
</style>
<form class="student_form" method="POST">{% csrf_token %}
    <div class="d-flex justify-content-around border-bottom mb-2">
        <button type="button" class="btn btn-default steps active_form" id="f_form">Student Details</button>
        <button type="button" class="btn btn-default steps" id="s_form">Family Details</button>
        <button type="button" class="btn btn-default steps" id="l_form">Transportation Details</button>
    </div>
    <fieldset id="std_details">
        <legend>Student Details</legend>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
        <br><br>
        <input type="button" name="next" class="next btn btn-default" value="Next" />
    </fieldset>
    <fieldset id="family_details">
        <legend>Family Details</legend>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
        <input type="button" name="next" class="next btn btn-default" value="Next" />
    </fieldset>
    <fieldset id="transport_details">
        <legend>Transportation Details</legend>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <input type="button" name="previous" class="previous btn btn-default" value="Previous" />
        <input type="Submit" name="Submit" class="btn btn-default" value="Submit" />
    </fieldset>
</form>

<script>
    var current_fs, next_fs, previous_fs;
    var current_step, next_step, previous_step;
    

    $(".next").click(function(){
        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
        current_step = $('.active_form');
        next_step = current_step.next();

        current_fs.hide();
        current_step.removeClass('active_form');
        next_fs.show();
        next_step.addClass('active_form');

    })

    $(".previous").click(function(){
        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();
        current_step = $('.active_form');
        previous_step = current_step.prev();

        current_fs.hide();
        current_step.removeClass('active_form');
        previous_fs.show();
        previous_step.addClass('active_form');
    })
</script>
{% endblock %}